<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753422497532-do0niac9h3cbsh65fjrp313qsurhii03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753422497532-do0niac9h3cbsh65fjrp313qsurhii03</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753422497532-58f1spdr5gfcj77h2jk4vhcu3q4anksn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-dKwU-zj--uTJU7VBuilNb5czqZ60Ddw</string>
	<key>GCM_SENDER_ID</key>
	<string>753422497532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrows.balloonz</string>
	<key>PROJECT_ID</key>
	<string>balloonzup-541cc</string>
	<key>STORAGE_BUCKET</key>
	<string>balloonzup-541cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753422497532:ios:efb90662fc6ae99949c979</string>
	<key>DATABASE_URL</key>
	<string>https://balloonzup-541cc-default-rtdb.firebaseio.com</string>
</dict>
</plist>